.box {
  width: 25vw;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}
.box h5 {
  font-weight: bolder;
  float: right;
  margin-right: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0.9rem;
  font-size: 1.8rem;
  font-weight: bolder;
}
/*! Student Card Styles  */
.studentBox {
  background-color: #f0f9ff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.studentBox:hover {
  background: linear-gradient(
    90deg,
    rgba(240, 249, 255, 1) 0%,
    rgba(169, 213, 243, 1) 100%
  );
  transition: 0.5s;
}

/*! Courses Card Styles  */
.coursesBox {
  background-color: #fef6fb;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.coursesBox:hover {
  background: linear-gradient(
    90deg,
    rgba(254, 246, 251, 1) 0%,
    rgba(251, 197, 226, 1) 100%
  );
}

/*! Attendence Box Styles  */
.attendeceBox {
  background-color: #feaf00;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.attendeceBox:hover {
  background: linear-gradient(
    90deg,
    rgba(254, 175, 0, 1) 0%,
    rgb(253, 213, 120) 100%
  );
}
