.slide-bar a {
  padding: 10px 12px;
  color: black;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 600;
}

.slide-bar a:hover,
a.active {
  padding: 10px 12px;
  background-color: #feaf00;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}
